node_modules/
apps/*/node_modules/

.expo/
apps/mobile/.expo/
dist/
web-build/
coverage/
apps/mobile/coverage/

ios/
android/
apps/mobile/ios/
apps/mobile/android/

.env*

npm-debug.*
yarn-error.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

.DS_Store
expo-env.d.ts
apps/mobile/expo-env.d.ts
