<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分销工作台</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <!-- 第一行：核心指标卡片 -->
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">实时</span>
                        <h5>分销员总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">[[${distributorCount}]]</h1>
                        <div class="stat-percent font-bold text-success">
                            <i class="fa fa-users"></i> 活跃分销员
                        </div>
                        <small>当前有效分销员数量</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">今日</span>
                        <h5>今日订单</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">[[${todayOrderCount}]]</h1>
                        <div class="stat-percent font-bold text-info">
                            <i class="fa fa-shopping-cart"></i> 新订单
                        </div>
                        <small>今日新增分销订单</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">今日</span>
                        <h5>今日佣金</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">¥[[${#numbers.formatDecimal(todayCommissionSum, 1, 2)}]]</h1>
                        <div class="stat-percent font-bold text-navy">
                            <i class="fa fa-money"></i> 佣金收入
                        </div>
                        <small>今日产生佣金总额</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">待处理</span>
                        <h5>待处理提现</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">[[${pendingWithdrawalCount}]]</h1>
                        <div class="stat-percent font-bold text-warning">
                            <i class="fa fa-credit-card"></i> 待审核
                        </div>
                        <small>待审核提现申请</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- 第二行：近期动态 -->
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>最新订单</h5>
                        <div class="pull-right">
                            <a onclick="openMainTab('订单管理', '/distribution/order')" class="btn btn-xs btn-primary">查看全部</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>平台</th>
                                    <th>分销员</th>
                                    <th>金额</th>
                                    <th>佣金</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${recentOrders}">
                                    <td><small>[[${order.distOrderNo}]]</small></td>
                                    <td>[[${order.platformName}]]</td>
                                    <td>[[${order.distributorName}]]</td>
                                    <td class="text-navy">¥[[${#numbers.formatDecimal(order.orderAmount, 1, 2)}]]</td>
                                    <td class="text-success">¥[[${#numbers.formatDecimal(order.totalCommission, 1, 2)}]]</td>
                                    <td>
                                        <span th:if="${order.orderStatus == '0'}" class="label label-warning">待处理</span>
                                        <span th:if="${order.orderStatus == '1'}" class="label label-success">已结算</span>
                                        <span th:if="${order.orderStatus == '2'}" class="label label-danger">已退款</span>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(recentOrders)}">
                                    <td colspan="6" class="text-center text-muted">暂无订单数据</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>待处理提现</h5>
                        <div class="pull-right">
                            <a onclick="openMainTab('提现管理', '/distribution/withdrawal')" class="btn btn-xs btn-primary">查看全部</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>单号</th>
                                    <th>平台</th>
                                    <th>分销员</th>
                                    <th>手机号</th>
                                    <th>申请金额</th>
                                    <th>申请时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="withdrawal : ${pendingWithdrawals}">
                                    <td><small>[[${withdrawal.settlementNo}]]</small></td>
                                    <td>[[${withdrawal.platformName}]]</td>
                                    <td>[[${withdrawal.distributorName}]]</td>
                                    <td>[[${withdrawal.phone}]]</td>
                                    <td class="text-warning">¥[[${#numbers.formatDecimal(withdrawal.applyAmount, 1, 2)}]]</td>
                                    <td><small>[[${#dates.format(withdrawal.createTime, 'MM-dd HH:mm')}]]</small></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(pendingWithdrawals)}">
                                    <td colspan="6" class="text-center text-muted">暂无待处理提现</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- 第三行：平台概览 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>平台概览（今日数据）</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4" th:each="stat : ${platformOrderStats}">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <i class="fa fa-database"></i> [[${stat.platformName}]]
                                        <span class="pull-right text-white">[[${stat.platformType}]]</span>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed no-margins">
                                            <tr>
                                                <td><strong>今日订单</strong></td>
                                                <td class="text-right text-navy">[[${stat.orderCount}]] 单</td>
                                            </tr>
                                            <tr th:each="cs : ${platformCommissionStats}" th:if="${cs.platformId == stat.platformId}">
                                                <td><strong>今日佣金</strong></td>
                                                <td class="text-right text-success">¥[[${#numbers.formatDecimal(cs.commissionAmount, 1, 2)}]]</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 第四行：快捷入口 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>快捷入口</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-2">
                                <a onclick="openMainTab('分销员管理', '/distribution/distributor')" class="btn btn-block btn-info">
                                    <i class="fa fa-users"></i><br/>
                                    <span>分销员管理</span>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a onclick="openMainTab('订单管理', '/distribution/order')" class="btn btn-block btn-success">
                                    <i class="fa fa-shopping-cart"></i><br/>
                                    <span>订单管理</span>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a onclick="openMainTab('佣金管理', '/distribution/commission')" class="btn btn-block btn-primary">
                                    <i class="fa fa-money"></i><br/>
                                    <span>佣金管理</span>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a onclick="openMainTab('提现管理', '/distribution/withdrawal')" class="btn btn-block btn-warning">
                                    <i class="fa fa-credit-card"></i><br/>
                                    <span>提现管理</span>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a onclick="openMainTab('规则配置', '/distribution/rule')" class="btn btn-block btn-default">
                                    <i class="fa fa-cog"></i><br/>
                                    <span>规则配置</span>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a onclick="openMainTab('平台管理', '/distribution/platform')" class="btn btn-block btn-default">
                                    <i class="fa fa-sitemap"></i><br/>
                                    <span>平台管理</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
    function openMainTab(title, url) {
        var parentWindow = window.parent;
        var parent$ = parentWindow.$;
        var $top = $(parentWindow.document);
        var panelUrl = window.frameElement ? window.frameElement.getAttribute('data-id') : '/system/main';
        var dataIndex = Math.floor(Math.random() * 100) + 1;
        if (!url) return false;

        if (parent$) {
            var $menuLink = parent$('#side-menu a.menuItem').filter(function() {
                var href = parent$(this).attr('href');
                return href && href.indexOf(url, href.length - url.length) !== -1;
            }).first();
            if ($menuLink.length) {
                $menuLink.trigger('click');
                return false;
            }
        }

        var flag = true;
        // 已存在则激活
        $('.menuTab', $top).each(function() {
            if ($(this).data('id') == url) {
                if (!$(this).hasClass('active')) {
                    $(this).addClass('active').siblings('.menuTab').removeClass('active');
                    if (window.parent.scrollToTab) window.parent.scrollToTab(this);
                    $('.page-tabs-content', $top).animate({ marginLeft: ''}, 'fast');
                    $('.mainContent .RuoYi_iframe', $top).each(function() {
                        if ($(this).data('id') == url) {
                            if (window.parent.openToCurrentTab) window.parent.openToCurrentTab(this);
                            return false;
                        }
                    });
                }
                if (window.parent.refreshTab) window.parent.refreshTab();
                flag = false;
                return false;
            }
        });
        // 不存在则新建
        if (flag) {
            var tabHtml = '<a href="javascript:;" class="active menuTab noactive" data-id="' + url + '" data-panel="' + panelUrl + '">' + title + ' <i class="fa fa-times-circle"></i></a>';
            var iframeHtml = '<iframe class="RuoYi_iframe" name="iframe' + dataIndex + '" width="100%" height="100%" src="' + url + '" frameborder="0" data-id="' + url + '" data-panel="' + panelUrl + '" seamless></iframe>';
            $('.menuTab', $top).removeClass('active');
            $('.mainContent', $top).find('iframe.RuoYi_iframe').hide();
            $('.mainContent', $top).append(iframeHtml);
            if (window.parent.$.modal) window.parent.$.modal.loading('数据加载中，请稍候...');
            $('.mainContent iframe:last', $top).on('load', function() {
                if (window.parent.$.modal) window.parent.$.modal.closeLoading();
            });
            $('.menuTabs .page-tabs-content', $top).append(tabHtml);
            if (window.parent.scrollToTab) window.parent.scrollToTab($('.menuTab.active', $top));
        }
        if (parentWindow.syncMenuTab) {
            parentWindow.syncMenuTab(url);
        }
        return false;
    }
    </script>
</body>
</html>
